Repository Sagori-BS/acme-explorer-frontend, pull requests merged in 2022-05, with the labels that each got.

#86 Self Trips #75
  src/app/components/navbar/navbar.component.html
  src/app/components/navbar/navbar.component.ts
  src/app/modules/routing/app-routing.module.ts
  src/app/modules/trip/components/self-trips/self-trips.component.html
  src/app/modules/trip/components/self-trips/self-trips.component.scss
  src/app/modules/trip/components/self-trips/self-trips.component.ts
  src/app/modules/trip/graphql/queries/self-trips.query.ts
  src/app/modules/trip/graphql/responses/self-trips.response.ts
  src/app/modules/trip/graphql/types/stage.type.ts
  src/app/modules/trip/graphql/types/trip.type.ts
  src/app/modules/trip/trip.module.ts
  src/app/modules/trip/trip.service.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/utils/enums/user-roles.enum.ts
  src/utils/mutations/responses.ts
Labels: frontend, trips

#92 Init Sponsor module #90
  src/app/app.module.ts
  src/app/modules/authentication/types/user.type.ts
  src/app/modules/sponsorship/graphql/enums/sponsorship-states.enum.ts
  src/app/modules/sponsorship/graphql/inputs/create-sponsorship.input.ts
  src/app/modules/sponsorship/graphql/types/sponsorship.type.ts
  src/app/modules/sponsorship/interfaces/sponsorship.interface.ts
  src/app/modules/sponsorship/sponsorship.module.ts
  src/app/modules/sponsorship/sponsorship.service.ts
Labels: frontend, sponsorship

#88 TASK-68-Fix-add-trips
  src/app/components/share.module.ts
  src/app/components/upload/file-upload.component.html
  src/app/components/upload/file-upload.component.scss
  src/app/components/upload/file-upload.component.ts
  src/app/components/upload/image.service.ts
  src/app/modules/graphql/graphql.module.ts
  src/app/modules/trip/components/create-trip/create-trip.component.html
  src/app/modules/trip/components/create-trip/create-trip.component.scss
  src/app/modules/trip/components/create-trip/create-trip.component.ts
  src/app/modules/trip/inputs/create-trip.input.ts
  src/environments/environment.ts
Labels: frontend

#106 Create Sponsorship #97
  src/app/components/navbar/navbar.component.ts
  src/app/components/navbar/utils/nb-menu-items.ts
  src/app/modules/routing/app-routing.module.ts
  src/app/modules/sponsorship/components/create-sponsorship/create-sponsorship.component.html
  src/app/modules/sponsorship/components/create-sponsorship/create-sponsorship.component.scss
  src/app/modules/sponsorship/components/create-sponsorship/create-sponsorship.component.ts
  src/app/modules/sponsorship/graphql/mutation/create-sponsorship.mutation.ts
  src/app/modules/sponsorship/graphql/responses/self-trips.response.ts
  src/app/modules/sponsorship/sponsorship.module.ts
  src/app/modules/sponsorship/sponsorship.service.ts
  src/app/modules/trip/components/list-trips/list-trips.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/utils/enums/trip-state.enum.ts
  src/utils/enums/user-roles.enum.ts
  src/utils/queries/responses.ts
Labels: frontend, sponsorship

#112 Manage Self sponsors #91 & Add detail sponsor #108
  src/app/components/navbar/navbar.component.ts
  src/app/components/upload/file-upload.component.ts
  src/app/modules/routing/app-routing.module.ts
  src/app/modules/sponsorship/components/create-sponsorship/create-sponsorship.component.ts
  src/app/modules/sponsorship/components/self-sponsorships/self-sponsorships.component.html
  src/app/modules/sponsorship/components/self-sponsorships/self-sponsorships.component.scss
  src/app/modules/sponsorship/components/self-sponsorships/self-sponsorships.component.ts
  src/app/modules/sponsorship/graphql/fragments/sponsor-data.fragment.ts
  src/app/modules/sponsorship/graphql/queries/self-sponsorships.query.ts
  src/app/modules/sponsorship/graphql/responses/create-self-sponsorship.response.ts
  src/app/modules/sponsorship/graphql/responses/self-sponsorships.response.ts
  src/app/modules/sponsorship/graphql/types/sponsorship.type.ts
  src/app/modules/sponsorship/service/sponsorship.service.ts
  src/app/modules/sponsorship/sponsorship.module.ts
  src/app/modules/trip/components/list-trips/list-trips.component.html
  src/app/modules/trip/components/self-trips/self-trips.component.html
  src/app/modules/trip/trip.module.ts
  src/app/modules/trip/trip.service.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/utils/enums/graphql-sort-operation.enum.ts
  src/utils/inputs/filter-input-params.ts
Labels: frontend, sponsorship

#123 23.1 Manage Configuration #118
  src/app/app.module.ts
  src/app/components/navbar/utils/nb-menu-items.ts
  src/app/modules/configuration/components/flat-rate/flat-rate.component.html
  src/app/modules/configuration/components/flat-rate/flat-rate.component.scss
  src/app/modules/configuration/components/flat-rate/flat-rate.component.ts
  src/app/modules/configuration/configuration.module.ts
  src/app/modules/configuration/graphql/inputs/update-configuration.input.ts
  src/app/modules/configuration/graphql/mutations/update-configuation.mutation.ts
  src/app/modules/configuration/graphql/queries/list-configurations.query.ts
  src/app/modules/configuration/graphql/types/configuration.type.ts
  src/app/modules/configuration/graphql/types/list-configurations-reponse.type.ts
  src/app/modules/configuration/graphql/types/update-configuration-response.type.ts
  src/app/modules/configuration/services/configuration.service.ts
  src/app/modules/routing/app-routing.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: frontend, A, configuration

#130 Fix configuraiton Task 118
  src/app/modules/configuration/components/flat-rate/flat-rate.component.html
  src/app/modules/configuration/components/flat-rate/flat-rate.component.ts
Labels: frontend, configuration

#124 10.1 Create Accounts for Manager and Sponsor #109
  src/app/modules/routing/app-routing.module.ts
  src/app/modules/user/components/create-user/create-user.component.html
  src/app/modules/user/components/create-user/create-user.component.scss
  src/app/modules/user/components/create-user/create-user.component.ts
  src/app/modules/user/graphql/inputs/create-user.input.ts
  src/app/modules/user/graphql/mutations/create-user.mutation.ts
  src/app/modules/user/graphql/types/create-user-response.type.ts
  src/app/modules/user/graphql/types/user-admin.type.ts
  src/app/modules/user/services/user.service.ts
  src/app/modules/user/user.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: frontend, user, C

#144 List favorite list #135
  src/app/app.module.ts
  src/app/components/navbar/utils/nb-menu-items.ts
  src/app/modules/favorite/components/list-favorite/favorite-list.component.html
  src/app/modules/favorite/components/list-favorite/favorite-list.component.scss
  src/app/modules/favorite/components/list-favorite/favorite-list.component.ts
  src/app/modules/favorite/components/list-favorites/dialogs/rename-favorite-list/rename-favorite-list-dialog.component.html
  src/app/modules/favorite/components/list-favorites/dialogs/rename-favorite-list/rename-favorite-list-dialog.component.scss
  src/app/modules/favorite/components/list-favorites/dialogs/rename-favorite-list/rename-favorite-list-dialog.component.ts
  src/app/modules/favorite/components/list-favorites/favorites-list.component.html
  src/app/modules/favorite/components/list-favorites/favorites-list.component.scss
  src/app/modules/favorite/components/list-favorites/favorites-list.component.ts
  src/app/modules/favorite/favorite.module.ts
  src/app/modules/favorite/graphql/inputs/add-favorite-trip.input.ts
  src/app/modules/favorite/graphql/inputs/create-favorite-list.input.ts
  src/app/modules/favorite/graphql/inputs/remove-favorite-trip.input.ts
  src/app/modules/favorite/graphql/inputs/update-favorite-list.input.ts
  src/app/modules/favorite/graphql/mutations/add-favorite-trip.mutation.ts
  src/app/modules/favorite/graphql/mutations/delete-favorite-list.mutation.ts
  src/app/modules/favorite/graphql/mutations/remove-favorite-trip.mutation.ts
  src/app/modules/favorite/graphql/mutations/rename-favorite-list.mutation.ts
  src/app/modules/favorite/graphql/queries/get-self-favorite-list.query.ts
  src/app/modules/favorite/graphql/queries/self-favorites-list.query.ts
  src/app/modules/favorite/graphql/types/add-favorite-trip-response.type.ts
  src/app/modules/favorite/graphql/types/delete-favorite-list-response.type.ts
  src/app/modules/favorite/graphql/types/favorite-list.type.ts
  src/app/modules/favorite/graphql/types/get-self-favorite-list-reponse.type.ts
  src/app/modules/favorite/graphql/types/remove-favorite-trip-response.type.ts
  src/app/modules/favorite/graphql/types/rename-favorite-list-response.type.ts
  src/app/modules/favorite/graphql/types/self-favorites-list-reponse.type.ts
  src/app/modules/favorite/services/favorite.service.ts
  src/app/modules/routing/app-routing.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Labels: A, favorite list

#150 Add highlight validation on list favorite trips #149
  src/app/components/navbar/navbar.component.ts
  src/app/components/navbar/utils/nb-menu-items.ts
  src/app/modules/favorite/components/list-favorite/favorite-list.component.html
  src/app/modules/favorite/components/list-favorite/favorite-list.component.ts
  src/app/modules/favorite/graphql/queries/get-self-favorite-list.query.ts
Labels: A

#152 24.2 Implement search in favorite list trips #151
  src/app/components/navbar/navbar.component.html
  src/app/modules/favorite/components/list-favorites/favorites-list.component.html
  src/app/modules/favorite/components/list-favorites/favorites-list.component.ts
  src/app/modules/favorite/favorite.module.ts
  src/app/modules/trip/components/list-trips/list-trips.component.ts
Labels: A, favorite list
